/*main styles*/

body {
        font-family: 'Montserrat', sans-serif;
        background-color: #E5E5E5;
}
.top {
        background-color: #FFFFFF;
        width: 1600px;
        height: 80px;
}
.a1 {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        padding-left: 215px;
        
}
.a2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #212121;
        margin-left: -5px;

}
.a3 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
        padding-left: 50px;
}
.a4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding-left: 50px;
}
.a5 {


        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
        padding-left: 450px;
        text-decoration: none;
}
.a6 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        padding-left: 50px;
        text-decoration: none;
        color: #757575;
}

.p {
    background-color: #FFFFFF;
        width: 1600px; 
        padding-top: 20px;
}
.black {
    display: flex
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    color: white;
    background: #2F303A;

    
    }
.blackblue { 
        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 50px;
}
.text {
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.text2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: #2196F3;
        padding-left: 40px;
        padding-top: -20px;


}    
.d1 {
    display: ;
    background-color: #FFFFFF;
    width: 1600px;
    height: 750px;
    padding-top:  10px;
}
.s1 {
        position: absolute;
        width: 270px;
        height: 16px;
        left: 215px;
        top: 774px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.s2 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.s3 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.s4 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.s5 {
    position: absolute;
        width: 270px;
        height: 72px;
        left: 215px;
        top: 800px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.s6 {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.s7 {
    position: absolute;
        width: 270px;
        height: 48px;
        left: 815px;
        top: 800px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.s8 {
    position: absolute;
        width: 270px;
        height: 72px;
        left: 1115px;
        top: 800px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}
.s9 {
    position: absolute;
        width: 370px;
        height: 42px;
        left: 617px;
        top: 966px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.image1 {
        position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 1058px;
       
}
.image2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1058px;

}
.image3 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1058px;

}
.d2 {
    display: flex;
    width: 1600px;
    height: 648px;
    background: #F5F4FA;
    margin-top: -20px;
}
.t1 {
    position: absolute;
    width: 274px;
    height: 42px;
    left: 668px;
    top: 1540px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.black2 {
display: flex;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
        background: #2F303A;
        margin-top: -20px
}

.s11 {
    position: absolute;
        width: 270px;
        height: 368px;
        left: 215px;
        top: 1632px; 
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: white;
}
.s12 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1632px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}

.s13 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1632px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.s14 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1632px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: white;
}
.image4 {
        position: absolute;
        width: 270px;
        height: 260px;
        left: 0px;
        top: 0px;
}
.it1 {
        position: absolute;
        width: 132px;
        height: 19px;
        left: 286px;
        top: 1922px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.it2 {
        position: absolute;
        width: 132px;
        height: 19px;
        left: 598px;
        top: 1922px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.it3 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 885px;
    top: 1922px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.it4 {
    position: absolute;
    width: 155px;
    height: 19px;
    left: 1178px;
    top: 1922px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.it5 {
    position: absolute;
        width: 140px;
        height: 19px;
        left: 282px;
        top: 1951px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.it6 {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 587px;
    top: 1951px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.it7 {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 875px;
    top: 1951px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.it8 {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 1183px;
    top: 1951px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
